body {
    margin: 0;
}

.parent-container {
    display: flex;
}
nav {
    display: flex;
    background-color: lavender;
}

.left-align {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.right-align {
    align-items: flex-end;
}

aside{
    background-color: cornflowerblue;
    height: 100vh;
    text-align: center;
}
article{
    background-color: bisque;
    width: 100vw;
}
.graph-card-section {
    display: flex;
    justify-content: space-around;
}
.graph-card {
    background-color: plum;
    width: 22%;
    height: 250px;
}

a {
    padding: 100px;
}

.body-content {
    display: flex;
    justify-content: space-around;
}

.lower-body-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.left-article-section {
    background-color: antiquewhite;
    width: 47%;
    height: 500px;
}

.right-article-section {
    background-color: antiquewhite;
    width: 47%;
    height: 500px;
}

section {
    margin-top: 50px;
}

.left-lower-section {
    background-color: maroon;
    width: 30%;
}
.center-lower-section {
    background-color: maroon;
    width: 30%;
}
.right-lower-section {
    background-color: maroon;
    width: 30%;
    height: 300px;
}

footer {
    background-color: lavender;
    width: 100vw;
    height: 70px;
}

p {
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    margin: 0;
}

.round-btn {
    background-color: green;
    border-radius: 50%;
}