<nav>
  <a>a</a>
  <a>b</a>
  <a>c</a>
  <a>d</a>
</nav>
<div class="parent-container">
  <aside>
    <p>a</p>
    <p>b</p>
    <p>c</p>
    <p>d</p>
  </aside>
  
  <article>
    <section class="graph-card-section">
      <div class="graph-card"></div>
      <div class="graph-card"></div>
      <div class="graph-card"></div>
      <div class="graph-card"></div>
    </section>
    <section class="body-content">
      <div class="left-article-section"></div>
      <div class="right-article-section"></div>
    </section>
    <section class="lower-body-content">
      <div class="left-lower-section"></div>
      <div class="center-lower-section"></div>
      <div class="right-lower-section"></div>
    </section>
  </article>
    
</div>